.product-card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    border-radius: 10px;
    width: 23vw;
    height: 65vh;
    cursor: pointer;
    margin-bottom: 1rem;
}

.product-card img{
    transition: linear 0.2s;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.product-brand {
    font-size: 1rem;
    opacity: 60%;
    margin: 5px;
}

.product-card div{
    margin-left: 5px;
}

@media screen and (max-width:1224px){
    .product-card {
        height: 30vh;
        width: 45vw;
        margin: 1.5rem 0;
    }

    .product-brand {
        font-size: 0.75rem;
        margin: 2px;
    }

    .product-title {
        font-size: 0.65rem;
    }

    .product-content{
        width: 80%;
    }

    .product-details {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: small;
    }
}