* {
    margin: 0;
    padding: 0;
}

.headerParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.owner-login-button {
    position: fixed;
    z-index: 12;
    right: 1rem;
    bottom: 0;
}

@media screen and (min-width: 1224px) {
    
}