.account-drop-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: absolute;
    top: 7.5vh;
    right: 2vw;
    min-width: 10vw;
    max-width: 15vw;
    background-color: rgba(255,255,255, 0.9);
    color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: smaller;
}

.greeting {
    font-size: small;
}

.acc-menu-item {
    font-size: small;
    padding: 2px;
}
.acc-menu-item:hover{
    cursor: pointer;
    font-weight: 600;
}