.navButtonChild {
    font-size: 0.8rem;
    margin: 0.5rem 1rem;
    color: white;
    opacity: 75%;
    cursor: pointer;
}

.navButtonChild:hover {
    opacity: 100%;
}

@media screen and (max-width: 1224px) {
    .navButtonChild {
        margin: 0.25rem 0.5rem;
    }
}